body {

    font-family: Arial;
    background: #f2f2f2;
    margin: 0;
    padding: 0;

}

.container {

    width: 600px;
    margin: 100px auto;
    text-align: center;

}

.logo {

    font-size: 60px;
    color: #d08c2d;
    margin-bottom: 10px;

}

h1 {

    font-size: 40px;
    margin-bottom: 50px;

}

.form-group {

    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;

}

.form-group label {

    width: 120px;
    font-size: 22px;
    text-align: right;
    margin-right: 20px;

}

.form-group input {

    width: 250px;
    padding: 8px;
    font-size: 16px;

}

.buttons {

    margin-top: 30px;

}

.btn {

    background: black;
    color: white;
    border: none;
    padding: 10px 25px;
    margin: 10px;
    font-size: 16px;

}

.signup {

    margin-top: 15px;

}

.signup-btn {

    background: black;
    color: white;
    border: none;
    padding: 12px 120px;
    font-size: 16px;

}